.second-view-content{
    padding:0px;
    margin:0px;
    border:0px;
}
.second-view-content h2{
    text-align:center;
    color:blue;
}
.second-view-content table{
    margin-left:16%;
}
.second-view-content td{
    color:white;
    padding:10px;
    background-color: black;
    border:1px solid black;
    border-spacing: 10px;
    width:160px;
    text-align: center;
}
.second-view-content th{
    color:green;
    padding:10px;
    border:1px solid black;
    width:160px;
}
.second-view-content th a{
    color:green;
    text-decoration: none;
    border:0px;
    padding:10px;
    width:100px;
    border-radius: 10px;

}
a:hover{
    cursor: pointer;
    color:yellow;
}
